#banner {
  padding-block: 2.5rem;
  .scrolling {
    width: 100%;
    height: 3.5rem;
  }

  .rolling {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-block: 1rem;
    animation: rolling 2s linear infinite;
  }

  .bg-gradient {
    background-image: linear-gradient(
      45deg,
      var(--snitap-joy-light),
      var(--snitap-sky-light));
    background-size: 400%;
    background-position: 0 50%;
    animation: bg-gradient 20s ease infinite;
  }
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rolling {
  to {
    transform: translateX(-132px);
  }
}