footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem 2rem;

  div, div a {
    display: flex;
    align-items: center;
  }

  div:nth-child(1) a {
    gap: 0.75rem;

    img {
      transition: transform .5s;
      &:hover {
        transform: rotate(-90deg);
      }
    }

    span {
      font: bold  1.25rem/1.3 var(--font-family-heading);
    }

  }

  div:nth-child(2) {
    gap: 2rem;

    a {
      width: fit-content;
      position: relative;
      &::after {
        content: "";
        transition: transform .5s, opacity .5s;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--snitap-sky-mid);
        bottom: 0;
        transform: scaleX(0);
        opacity: 0;

      }

      &:hover {
        &::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
  }

  div:nth-child(3) {
    gap: 1rem;

    a {
      width: 100%;
      position: relative;
      &::after {
        content: "";
        transition: 
          scale .3s ease,
          opacity .3s ease;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        scale: 0;
        border-radius: 50%;
        background-color: var(--snitap-sun);
      }
      &:hover {
        &::after {
          scale: 1.7;
        }
      }
    }
  }
}