header {
  display: flex;
  align-items: center;
  height: 4.5rem;
  background-color: var(--background);
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {

      & > img {
        width: 32px;
        height: 32px;
        display: block;
        transition: transform 0.5s;

        &[src*="logo"]:hover {
          transform: rotate(90deg);
        }

        &[src*="shopping"]:hover {
          transform: rotate(-30deg);
        }
      }
      &:has(.shop-bag) {
        position: relative;
        
        &::before {
          content: "1";
          text-align: center;
          font-family: 'Inter', sans-serif;
          z-index: 10;
          position: absolute;
          display: block;
          background-color: var(--snitap-sun);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          top: -5px;
          right: -10px;
        }
      }
    }
  }
}
